################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/groupextend/v16
*.aps
/groupextend.vcxproj.user
/groupextend.vcxproj.filters
