################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/groupextend/v16
*.aps
/groupextend.vcxproj.user
/groupextend.vcxproj.filters
/Release/groupextend.tlog
/x64/Release/groupextend.tlog
/x64/Debug/groupextend.tlog
/x64/Debug
/x64/Release
/Release
/libProcessorGroupExtender/x64/Release/libProce.F31C257F.tlog
/libProcessorGroupExtender/x64/Release
*.user
*.filters
