################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
*.aps
*.tlog
*.user
*.filters
/Release/
/Debug/
/x64/Debug/
/x64/Release/
/libProcessorGroupExtender/Release/
/libProcessorGroupExtender/Debug/
/libProcessorGroupExtender/x64/Release/
/libProcessorGroupExtender/x64/Debug/